
body {
    font-size: 16px;
    width: 100%;
}

header,
main,
footer {
    margin: 1rem;
    text-align: center;
}

header {
    font-size: 1.5rem;
}

footer {
    background-color: #b3dae5;
    margin: 2.5rem;
    padding: 1rem;
    border: 1px solid #bbb;
}
header, h2, footer {
    text-shadow: 0 0 10px #b3dae5;
    color: #144a5a;
    font-family: "IM Fell English SC", serif;
}

p {
    color: #144a5a;
    font-family: poppins, sans-serif;
}

main {
    margin-left: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));;
    
}

section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(151, 184, 193, 0.5);
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > p  {
    margin: 0.25rem;
}
section > h2 {
    margin: 1rem;
}

img {
    margin: 15px;
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 20px #144a5a;
    height: 200px;
    border: 1px solid #144a5a;
}