/* general */

body {
    margin: 10px;
    background-color: #614F5D;
}
header, footer {
    background-color: #2D746E;
    color: #E9FBFB;
    border: 3px solid #614F5D;
    border-radius: 5px;   
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 10px;
}
p {
    font-family: Poppins, serif;
    color: #343334;
}
h2, h3, h4 {
    font-family: 'Merriweather', serif;
}


/* header with some footer */
.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.logo-heading {
    display: flex;
    flex-direction: column;
    margin: .05px;
}
.logo-heading h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav { 
    background-color: #614F5D;
    margin: 0 auto;
    text-align: left;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #FFBC95;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    padding-inline-start: 0;
    margin: 0;
}
nav ul li a {
	display: block;
	color: #B6F3EB;	
	padding: 0.75rem 2vw;
	text-decoration: none;
	font-size: 1.5rem;
    border-top: 1px solid #B6F3EB;
}

nav ul li a:hover {    
    color: #BA381E;
    background-color: #B6F3EB; 
}

nav ul {display: none;}
nav ul.open {display: block;}

nav ul li a.navLink[aria-current="page"] {
    background-color: #EC8D71;
    color: #614F5D;
}

#hamBtn span:nth-child(1) {display: block;}
#hamBtn span:nth-child(2) {display: none;}

#hamBtn.open span:nth-child(1) {display: none;}
#hamBtn.open span:nth-child(2) {display: block;}

#hamBtn {
    font-size: 1.5rem;
    color: #FFBC95;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center ;
}
.logo {
   padding: 10px;
}

.social {
   padding: 10px;
   margin: 5px auto;
}

.social svg {
	width: 25px;
	height: auto;
}

.date-box {    
    background-color: #B6F3EB;
    border: 1px solid #614F5D;
    color: #614F5D;
    padding: 0.75rem;
}

.meet {    
    background-color: #FFEAC2;
    border: 1px solid #614F5D;
    color: #614F5D;
    padding: 0.75rem;
}


/* footer */
.logo-heading-foot h1 {
    font-size: .8rem;
    margin: .05px;
}
.logo-heading-foot {
    font-size: .8rem;
    margin: .05px;
}
.foot-info {
    padding: 10px;
    border-top: 1px solid #E9FBFB;
}
.logo-foot img {
    width: 150px;
	height: auto;
}

.contact div {
    padding: 2px;
}
.contact a {
    background-color: #B6F3EB;
    color: #343334;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}

.contact a:hover {
    background-color: #BA381E;
    color: #B6F3EB;
}
/* main section */
main {
    margin: 15px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.hero {
    margin: 10px auto;
    padding: 10px;
    position: relative;
    border-top: 10px solid #C69E9F;
    border-bottom: 10px solid #C69E9F;
    border-radius: 5px;   
    background-color: #FFEAC2 ;     
}

.hero img {
    width: 100%;
    border-radius: 5px;    
}

.join {    
    background: radial-gradient(#E2FBF7, #45C3B7);
    position: absolute;
    bottom: 25px;
	right: 50px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 1.3rem;
	box-shadow: 0 0 30px #614F5D;
	opacity: 0.8;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;    
}

.boxes {
    background-color: #B6F3EB;
    padding: 5px;  
    border: 1px solid #2F8A81;  
    border-radius: 5px;
    text-align: center;
}

h2 {
    background-color: #FFEAC2;
    padding: .8rem;
    text-align: center;
    color: #614F5D;
    font-size: 1.2rem;
    border-top: 5px solid #C69E9F;
    margin: 0;
    border-radius: 5px;
}

.weather {
    display: grid;	
	grid-template-columns: 1fr 1fr;   
    margin: 0 auto; 
    font-family: poppins;
    color: #343334 ;
}
.w-title {
    grid-column: 1/3;
    grid-row: 1/2;
    align-content: center;
    margin: 5px;
}
.w-icon {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    
}
.w-temp {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;	
    font-size: 2em;
    margin: 5px;
}
.w-desc {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;	
    font-size: 1.5em;
    margin: 10px;
}
.w-speed {
    grid-column: 1/3;
    grid-row: 4/5;	
    border-top: 2px solid #614F5D;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}
.w-chill {
    grid-column: 1/3;
    grid-row: 5/6;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;

}


.spot {
    background: radial-gradient(#FFEAC2, #FFBC95);
    box-shadow: 0 0 5px #614F5D;
    padding: 10px;    
}

.spot h3 {
    background-color: #45C3B7;
    padding: .8rem;
    text-align: center;
    color: #614F5D;
    font-size: 1.2rem;  
}

.spot img {
    text-align: center;
}

#cards section:nth-child(3) {
    display: none;
}

#cards section {
    padding: 20px;
    background-color: #B6F3EB;
    text-align: center;
}

.spotStyle a {
   color: #343334; 


}

/* join.html */
.join-box {
    display: none;
}

.join2 {    
    background: radial-gradient(#E2FBF7, #45C3B7);
    bottom: 10px;
	right: 25px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 1rem;
	box-shadow: 0 0 30px #614F5D;
	opacity: 0.8;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;    
}

.grid {
    display: grid;
    grid-template-columns: 1fr;    
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: center;   
}

/* join and contact.html */

.join-page {
    display: grid;
    grid-template-columns: 1fr ;
}
.main-form {
    display: flex;
    flex-direction: column;
}


form {
    padding: .5rem 2%;
    min-height: 20rem;
    background-color: #FFEAC2;
    margin: 1rem auto ;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form fieldset {
    margin: 2rem 1px;
    padding: .5rem 2%;

}

form legend {
    display: block;
    font-family: 'Merriweather', serif;
    color: #343334;
    background-color: #B6F3EB;
    padding: .5rem;
    border-radius: 1rem;
    margin: 0 1rem;
}

form label.field1 {
    display: block;
    padding-top: .95rem;
    font-family: 'Merriweather', serif;
    color: #343334;
}

form label.field1 input,
form label.field1 textarea {
    display: block;
    width: 100%;
    padding: .75rem;
    max-width: 20rem;
    color: #614F5D;
    background-color:  #E2FBF7;
    border: #343334;
    font-family: Poppins, serif;
    border-radius: 1rem;
    font-size: 1.2rem;
}

::placeholder {
    font-size: .9rem;
}

form label.field2 {
    display: block;
    padding: .75rem 0;
    font-family: Poppins, serif;
    font-size: 1.2rem;
    color: #343334;
}
.field2 p {
    margin: 1px;
    padding: 0;
   
}

form label.field3 {
    display: block;
    padding: 0.2rem;
    font-family: Poppins, serif;
    font-size: 1rem;
    color: #343334;
}

form div.field3 {
    font-family: 'Merriweather', serif;
    color: #343334;
    display: block;
    padding-top: 25px;
    padding-bottom: 0.5px;
}

form input.submitBtn {
    background-color: #EC8D71;
    color: #343334;
    padding: 1.5rem;
    margin: 2%;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 100%;    
    max-width: 20rem;
    border: none;
} 

form input.radio {
    appearance: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px solid #BC958E;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
form input.radio1 {
    appearance: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #BC958E;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
input.radio:checked,
input.radio1:checked {
    border: 12px solid #C76035;
} 
/* Join */
.membership-levels {
    display: none;
}



/* directory.html */

.dirMain {
	margin: 0 auto;
	border: 1px solid #bbb;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #BC958E;
	font-family: 'Merriweather', serif;
}

.dirMenu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #45C3B7;
	text-align: center;
}

.dirMenu button {
	padding: 1rem;
    border-radius: 50px;
}

article,
section {
	margin: 0.75rem;
}



.dirGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
}

.dirList {
	display: flex;
	flex-direction: column;
}

.dirGrid section {
	flex-direction: column;
	text-align: center;
    padding: 5px;
    background-color: #E2FBF7;
}

.dirGrid section > * {
	margin: 0.1rem;
    
}

.dirList section {
	flex-direction: row;
	justify-content: left;
    align-items: center;
    padding: 5px;
    background-color: #E2FBF7;
}

.dirList section > * {
	margin: 0 1rem;
	text-align: left;
    
}

.dirList section img {
	display: none; /* smaller viewports only */
}

section h3 {
	font-size: 1.1rem;
    padding: 5px;
    color: #343334;
}

section a {
	font-family: poppins, Arial, sans-serif;
	padding: 5px;
    color: #343334;
}

.attribution a {
    text-decoration: none;
    color: #343334;
}

.attribution:hover a {    
    color: #B6F3EB;
    background-color: #BA381E;
}

/* Calendar */
.event-calendar {
  width:400px;
  margin: 20px;
  min-width:300px;
  background-color: #FFBC95;
}

.event-calendar a {
  text-decoration:none;
  color: #343334;
}

.event-calendar a:hover {
  opacity: 0.7;
  color: #BA381E;
}

.event-calendar a:hover .title-event {
  transform:translate(2%,0); 
}

.event-calendar ul,
.event-calendar ul li,
.event-calendar h1,
.event-calendar h2
{
  margin:0;
  padding:0;
  list-style:none;
}

.event-calendar .events-body ul li {
  position:relative;
   border-bottom:1px solid #614F5D;
}
.event-calendar .events-body ul li:last-child {
  border:0;
}

.event-calendar .heading-title {
  padding:10px 20px;
  text-transform:uppercase;
  border-bottom:4px solid #614F5D;
  font-size:.9em;
  position:relative;
  font-family: 'Merriweather', serif;
}

.event-calendar .icon-box {
  position:absolute;
  right:20px;
  top:0;
  bottom:0;
  margin:auto;
  height:30px;
  font-size:1.8em;
}

.event-calendar .event-left-content {
  padding:15px 20px;
}
.event-calendar .event-left-content .title-event,
.event-calendar .event-left-content .title-event h2,
.event-calendar .event-left-content .event-date,
.event-calendar .event-left-content .event-location
{
  font-family: Poppins, sans-serif;
}

.event-calendar .event-left-content .title-event {
  width:80%;
}

.event-calendar .event-left-content .title-event h2 {
  text-transform:uppercase;
  margin:0;
  padding:0;
}

.event-calendar .event-left-content .event-date {
  font-size: 1rem;
}

.event-calendar .event-left-content .event-location {
  text-transform:uppercase;
  font-weight:bold;
  font-size: 1rem;
}

.event-calendar .event-icon{
  position:absolute;
  width:auto;
  height:50px;
  display:block;
  background-color: #7F626B;
  right:20px;
  top:0;
  bottom:0;
  margin:auto;
  text-align:center;
  color: #E2FBF7;
  border-radius: 5px;
  padding:2px 10px;    
}

.event-calendar .event-icon .month,
.event-calendar .event-icon .date {
  display:block;
}

.event-calendar .event-icon .month {
  text-transform:uppercase;
  font-weight:bold;
  font-size: 1.1em;
  margin-top: 5px
}

.event-calendar .event-icon .date {
  font-size:1.1em;
  font-weight:bold;
}

