/* general */

body {
    margin: 10px;
    background-color: #614F5D;
}
header, footer {
    background-color: #2D746E;
    color: #E9FBFB;
    border: 3px solid #614F5D;
    border-radius: 5px;   
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 10px;
}
p, figcaption {
    font-family: Poppins, serif;
    color: #343334;
}
h2, h3, h4 {
    font-family: 'Merriweather', serif;
}


/* header with some footer */
.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.logo-heading {
    display: flex;
    flex-direction: column;
    margin: .05px;
}
.logo-heading h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav { 
    background-color: #614F5D;
    margin: 0 auto;
    text-align: left;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #FFBC95;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    padding-inline-start: 0;
    margin: 0;
}
nav ul li a {
	display: block;
	color: #B6F3EB;	
	padding: 0.75rem 2vw;
	text-decoration: none;
	font-size: 1.5rem;
    border-top: 1px solid #B6F3EB;
}

nav ul li a:hover {    
    color: #BA381E;
    background-color: #B6F3EB; 
}

nav ul {display: none;}
nav ul.open {display: block;}

nav ul li a.navLink[aria-current="page"] {
    background-color: #EC8D71;
    color: #614F5D;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center ;
}
.logo {
   padding: 10px;
}

.social {
   padding: 10px;
   margin: 5px auto;
}

.social svg {
	width: 25px;
	height: auto;
}

#hamBtn span:nth-child(1) {display: block;}
#hamBtn span:nth-child(2) {display: none;}

#hamBtn.open span:nth-child(1) {display: none;}
#hamBtn.open span:nth-child(2) {display: block;}

#hamBtn {
    font-size: 1.5rem;
    color: #FFBC95;
}

.date-box {    
    background-color: #B6F3EB;
    border: 1px solid #614F5D;
    color: #614F5D;
    padding: 0.75rem;
}

.meet {    
    background-color: #FFEAC2;
    border: 1px solid #614F5D;
    color: #614F5D;
    padding: 0.75rem;
}


/* footer */
.logo-heading-foot h1 {
    font-size: .8rem;
    margin: .05px;
}
.logo-heading-foot {
    font-size: .8rem;
    margin: .05px;
}
.foot-info {
    padding: 10px;
    border-top: 1px solid #E9FBFB;
}
.logo-foot img {
    width: 150px;
	height: auto;
}

/* main section */
main {
    margin: 15px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.hero {
    margin: 10px auto;
    padding: 10px;
    position: relative;
    border-top: 10px solid #C69E9F;
    border-bottom: 10px solid #C69E9F;
    border-radius: 5px;   
    background-color: #FFEAC2 ;     
}

.hero img {
    width: 100%;
    border-radius: 5px;    
}

.join {    
    background: radial-gradient(#E2FBF7, #45C3B7);
    position: absolute;
    bottom: 25px;
	right: 50px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 1.3rem;
	box-shadow: 0 0 30px #614F5D;
	opacity: 0.8;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;    
}

.boxes {
    background-color: #B6F3EB;
    padding: 10px;  
    border: 1px solid #2F8A81;  
    border-radius: 5px;
}

h2 {
    background-color: #FFEAC2;
    padding: .8rem;
    text-align: center;
    color: #614F5D;
    font-size: 1.2rem;
    border-top: 5px solid #C69E9F;
}

.weather {
    display: grid;	
	grid-template-columns: 1fr 1fr;   
    margin: 0 auto; 
    font-family: poppins;

}
.w-title {
    grid-column: 1/3;
    grid-row: 1/2;
    align-content: center;
}
.w-icon {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    
}
.w-temp {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;	
    font-size: 2em;
    margin: 5px;
}
.w-desc {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;	
    font-size: 1.5em;
    margin: 10px;
}
.w-speed {
    grid-column: 1/3;
    grid-row: 4/5;	
    border-top: 2px solid #614F5D;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}
.w-chill {
    grid-column: 1/3;
    grid-row: 5/6;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;

}

.spotlight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.spot {
    background: radial-gradient(#FFEAC2, #FFBC95);
    box-shadow: 0 0 5px #614F5D;
    padding: 10px;
    
}

.spot h2 {
    background-color: #45C3B7;
    padding: .8rem;
    text-align: center;
    color: #614F5D;
    font-size: 1.2rem;
    border: 1px solid #C69E9F;
}

.spot:nth-child(3) {
    display: none;
}

/* join.html */

.join-box {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;    
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: center;   
}

/* contact.html */
form {
    padding: .5rem 2%;
    min-height: 20rem;
    background-color: #FFEAC2;
   margin: 10px ;

}

form fieldset {
    margin: 2rem 1px;
    padding: .5rem 2%;

}

form legend {
    display: block;
    font-family: 'Merriweather', serif;
    color: #343334;
    background-color: #B6F3EB;
    padding: .5rem;
    border-radius: 1rem;
    margin: 0 1rem;
}

form label.field1 {
    display: block;
    padding-top: .95rem;
    font-family: 'Merriweather', serif;
}

form label.field1 input,
form label.field1 textarea {
    display: block;
    width: 100%;
    padding: .75rem;
    max-width: 20rem;
    color: #614F5D;
    background-color:  #E2FBF7;
    border: #343334;
    font-family: Poppins, serif;
    border-radius: 1rem;
}

form label.field2 {
    display: block;
    padding: .75rem 0;
    font-family: Poppins, serif;
    font-size: 1.2rem;
}

form input.submitBtn {
    background-color: #EC8D71;
    color: #343334;
    padding: 1.5rem;
    margin: 2%;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 100%;    
    max-width: 20rem;
    border: none;
} 

form input.radio {
    appearance: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px solid #BC958E;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
input.radio:checked {
    border: 12px solid #C76035;
}
  
/* directory.html */

.dirMain {
	margin: 0 auto;
	border: 1px solid #bbb;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #BC958E;
	font-family: 'Merriweather', serif;
}

.dirMenu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #45C3B7;
	text-align: center;
}

.dirMenu button {
	padding: 1rem;
    border-radius: 50px;
}

article,
section {
	margin: 0.75rem;
}

section {
	background-color: #E2FBF7;
}

.dirGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
}

.dirList {
	display: flex;
	flex-direction: column;
}

.dirGrid section {
	flex-direction: column;
	text-align: center;
    padding: 5px;
}

.dirGrid section > * {
	margin: 0.1rem;
}

.dirList section {
	flex-direction: row;
	justify-content: left;
    align-items: center;
    padding: 5px;
}

.dirList section > * {
	margin: 0 1rem;
	text-align: left;
}

.dirList section img {
	display: none; /* smaller viewports only */
}

section h3 {
	font-size: 1.1rem;
    padding: 5px;
    color: #343334;
}

section a {
	font-family: poppins, Arial, sans-serif;
	padding: 5px;
    color: #343334;
}

/* img {
	height: 75px;
	max-width: 100%; 
} */

/* @media (min-width: 700px) {
	.list section img {
		display: block;
	}
} */
