body {
    margin: 10px;
}
header, footer {
    background-color: #597367;
    color: #FCFAF9;
    border: 3px solid #473B37;
    border-radius: 5px;   
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.logo-heading {
    display: flex;
    flex-direction: column;
    margin: .05px;
}
.logo-heading h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav { 
    background-color: #473B37;
    margin: 0 auto;
    text-align: left;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #9FC2AB;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    padding-inline-start: 0;
    margin: 0;
}
nav ul li a {
	display: block;
	color: #9FC2AB;	
	padding: 0.75rem 2vw;
	text-decoration: none;
	font-size: 1.5rem;
    border-top: 1px solid #afcfba;
}

nav ul li.active a {
    background-color: #E9837C;
    color: #473B37;
}

nav ul li a:hover {    
    color: #BC4242;
    background-color: #afcfba; 
}

nav ul {display: none;}
nav ul.open {display: block;}

.header {
    display: flex;
    align-items: center;
    justify-content: center ;
    }
.logo {
   padding: 10px;
}

.social {
   padding: 10px;
}

.social svg {
	width: 25px;
	height: auto;
}

#hamBtn span:nth-child(1) {display: block;}
#hamBtn span:nth-child(2) {display: none;}

#hamBtn.open span:nth-child(1) {display: none;}
#hamBtn.open span:nth-child(2) {display: block;}

#hamBtn {
    font-size: 1.5rem;
}



.date-box {    
    background-color: #afcfba;
    border: 1px solid #473B37;
    color: #473B37;
    padding: 0.75rem;
}

main {
    margin: 15px;
}
h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h2 {
    background-color: #E9837C;
    padding: 1.1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

p {
    font-family: Poppins, serif;
    color: #473B37;
}

.logo-heading-foot h1 {
    font-size: .8rem;
    margin: .05px;
}
.logo-heading-foot {
    font-size: .8rem;
    margin: .05px;
}
.foot-info {
    padding: 10px;
    border-top: 1px solid #afcfba;
}