@media only screen and (min-width: 60em) {
    nav button {
        display: none;
    }
        
    nav ul#navigation {
        display: flex;
        text-align: center;
    } 
    
    nav ul li {
        flex: 1 1 auto;
    }

    nav ul li a {
        border: none;
    }
   
    .header-item:nth-child(2) {
        order: 1;
    }

    .logo-foot {        
        margin-left: 5rem;
    }
   
    .contact {        
        margin-right: 5rem;
        line-height: 1.5rem;
    }
}
