@media only screen and (min-width: 37.5em) {
    .social svg {
        width: 33px;
        height: auto;
    }
    .footer {
        display: flex;
        align-items: center;
	    justify-content: space-between;
        margin: 0 auto;
        padding: 5px 0;
    }
    .logo-foot {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        
    }
    
    .logo-heading-foot {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

    }

    .spot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
 
    .img-wrapper > .content {
        position: absolute;
        inset: 0;
        font-size: 2rem;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .img-wrapper > img,
    .img-wrapper > .content {
        transition: 200ms ease-in-out;
    }

    .img-wrapper:hover > img.blur {
        filter: blur(3px);
    }

    .img-wrapper:hover > img.gray {
        filter: grayscale(1);
    }

    .img-wrapper:hover > img.zoom {
        transform: scale(1.1);
    }
    .img-wrapper > .content.fade {
        opacity: 0;
    }
    .img-wrapper:hover > .content.fade {
        opacity: 1;
    }
    
    .dirMain {        
        max-width: 900px;
    }
    .dirList section {
        display: flex;
        align-items: center;
        
    }  
    .dirGrid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }
    .join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    table {
        margin: 10px;    
        border-collapse: collapse;
        font-family: 'Poppins', sans-serif;
        background-color: #BC958E;
    }

    tr:first-child th, .highlight {
        background-color: #45C3B7;
        /* color: #614F5D; */
    }
    
    th, td {
        padding: 7px 15px;
        border: 1px solid #614F5D;
    }
    
    th {
        background-color: #EC8D71;
    }
    
    td {
        text-align: center;
    }
    
    tbody tr:nth-child(even) {
        background-color: #B6F3EB;
    }
    .membership-levels {
       margin-top: 10px;
        display: block;
    }
    
}
