
body {
    max-width: 400px;
    font-size: 16px;
    margin: 1.25rem auto;
    padding: 1.5rem;
}

header, footer {
    background-color: teal;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}

header {    
    align-items: center;
}

main {
    font-family: Poppins, sans-serif;
}

img {
    border-radius: 2px;
    /* border: 5px solid black; */
    margin: 10px;
    /* max-width: 100%; */
}
footer {
    font-size: large;
    font-weight: bold;
}

a {
    color:teal;
    font-size: 1.1em;
    text-decoration: underline;
    
  }

a:hover{
    color: #C17767;
    background-color: teal;
    text-decoration: none;
  }